label{
    width: 30%;
    font-size: 15px;
}
.form-control{
    font-size: 0.85rem;
}

input{
    height: 40px;
    width: 500px;
    border-radius: 20px;
}

.btn{
    border-radius: 0%;
    width: 130px;
    transition: 0.5s;
    background-color: rgba(226, 202, 255, 0);
}
.btn:hover{
    border-radius: 5px;
    background-color: rgb(185, 65, 255);
    color: white;
}

.radioCollection .form-check label{
    font-size: 12px;
    font-weight: bold;
}
.modal-content{
    /* background-color: rgb(233, 200, 255); */
    background-image: linear-gradient(to bottom right, rgb(212, 175, 255), rgb(255, 255, 255));
    /* background-image: url(https://images.squarespace-cdn.com/content/v1/593e7428a5790aa6651c2a84/1601053564083-70CE0J65R371EYKWWT2N/Collecting+Social+Media+Data.png?format=750w); */
    background-repeat: no-repeat;
    background-size: cover;

}



@media (max-width: 990px){
    
}


@media (max-width: 768px){
    label{
        width: 20%;
    } 
    .form-control{
        font-size: 0.85rem;
    }
}
@media (max-width: 500px){
    label{
        padding-right: 10px;
        width: auto;
    }
    h4{
        font-size: 16px;
    }
    .container-sm .radioCollection{
        flex-direction: column;
    }
    .btn{
        border-radius: 0%;
        width: 90px;
        height: 30px;
        font-size: 10px;
    }
}



/* label{
    width: 100%;
    font-size: 15px;
}

input{
    height: 40px;
    width: 500px;
    border-radius: 20px;
}

.btn{
    border-radius: 0%;
    width: 100px;
    transition: 0.5s;
}
.btn:hover{
    border-radius: 5px;
    background-color: rgb(185, 65, 255);
}


@media (max-width: 990px){
    .form-control{
        font-size: 0.85rem;
    }
}


@media (max-width: 768px){
    label{
        width: 20%;
    } 
    .form-control{
        font-size: 0.85rem;
    }
}
@media (max-width: 500px){
    label{
        padding-right: 10px;
        width: auto;
    }
    h4{
        font-size: 16px;
    }
    .container-sm .radioCollection{
        flex-direction: column;
    }
} */